.section.fp-auto-height
  footer.footer
    .footer__container
      a.footer__logo(href="/")
        img(src="/images/logo-black.png")
      a.footer__social(href="https://www.linkedin.com/company/kayyak-ventures/" target="_blank")
        i.fa.fa-linkedin

      