extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.contacto
    section.contacto__hero  
      img(src="/images/home/contacto-hero.jpg")
    section.contacto__details
      .container
        .row
          .col-24.col-md-18.offset-md-3
            .contacto__details__container
              h3.contacto__details__title Chile
              span.contacto__details__text Lorem ipsum dolor sit amet
              span.contacto__details__text Av. Presidente Riesco 5561. Of. 1101
              span.contacto__details__text Las Condes, Stgo. de Chile
              a.contacto__details__phone(href="tel:+56229644935" target="_blank") +56 22 964 4935
          .col-24.col-md-18.offset-md-3
            form.contacto__details__form
              h3.contacto__details__form-title Leave us your email and we will get back to you
              .contacto__details__form-input
                input(placeholder="Your e-mail")
                button Send