header.header
  .header__container
    a.header__logo(href="/")
      img(src="/images/logo.png")
    nav.header__nav
      ul.header__list#list
        li.header__item.active(data-menuanchor="purpose")
          a.-js-link(href="/#purpose") Purpose
        li.header__item(data-menuanchor="portfolio-1")
          a.-js-link(href="/#portfolio-1") Portfolio
        li.header__item(data-menuanchor="investment-philosophy")
          a.-js-link(href="/#investment-philosophy") Investment Philosophy
        li.header__item(data-menuanchor="team")
          a.-js-link(href="/#team") Team
        li.header__item
          a(href="/contacto") Contact
    .header__hamburguer
      span
      span
      span


